In [2]:
print("Michael Morse was my favorite baseball player growing up")
print(2+3)

x = 5
if (x < 5):
    print("vaibhav")
else:
    print("jha jha")

Michael Morse was my favorite baseball player growing up
5
jha jha

In [3]:
import pandas as pd
import numpy as np

pd.DataFrame([1,2,3,4])

   0
0  1
1  2
2  3
3  4