In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# importing necessary packages

In [17]:
filepath = '/Users/vaibhavjha/wrangling/data/sharks.csv'
sharks = pd.read_csv(filepath, low_memory = False)

# reading in the file

In [18]:
sharks.head()
#sharks.shape

# getting feel for size, rows, columns

,index,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,...,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255
0,0,2020.02.05,05-Feb-2020,2020.0,Unprovoked,USA,Maui,NaN,Stand-Up Paddle boarding,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020.01.30.R,Reported 30-Jan-2020,2020.0,Provoked,BAHAMAS,Exumas,NaN,Floating,Ana Bruna Avila,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2020.01.17,17-Jan-2020,2020.0,Unprovoked,AUSTRALIA,New South Wales,Windang Beach,Surfing,Will Schroeter,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2020.01.16,16-Jan-2020,2020.0,Unprovoked,NEW ZEALAND,Southland,Oreti Beach,Surfing,Jordan King,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2020.01.13,13-Jan-2020,2020.0,Unprovoked,USA,North Carolina,"Rodanthe, Dare County",Surfing,Samuel Horne,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
sharks.loc[1:10, ('Location', 'Name', 'Activity')]

# searching with loc, uses locator class

sharks.iloc[9:19, 1:4]

# searching with iloc[], uses integer locator class method

     Case Number         Date    Year
9     2020.01.02  02-Jan-2020  2020.0
10    2019.12.30  30-Dec-2019  2019.0
11    2019.12.28  28-Dec-2019  2019.0
12  2019.12.26.b  26-Dec-2019  2019.0
13  2019.12.26.a  26-Dec-2019  2019.0
14    2019.12.24  24-Dec-2019  2019.0
15    2019.12.21  21-Dec-2019  2019.0
16    2019.12.20  20-Dec-2019  2019.0
17    2019.12.12  12-Dec-2019  2019.0
18    2019.12.06  06-Dec-2019  2019.0

In [20]:
sharks.loc[:,'Fatal (Y/N)']
sharks = sharks.rename(columns = {'Fatal (Y/N)':'Fatal'})
sharks.loc[:,'Fatal']

0       N
1       N
2       N
3       N
4       N
       ..
6457    Y
6458    Y
6459    Y
6460    Y
6461    Y
Name: Fatal, Length: 6462, dtype: object

In [32]:
sharks.dtypes
sharks['Type'].unique()

array(['Unprovoked', 'Provoked', 'Questionable', 'Watercraft',
       'Unconfirmed', 'Unverified', 'Invalid', 'Under investigation',
       'Boating', 'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)